{% load static %}

<!-- Required Js -->
<script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/dark-mode.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/all.min.js' %}"></script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<!--html2pdf--> 
<script src="{% static 'assets/js/jspdf.umd.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.16/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<!-- jquery -->
  <!-- <script>
    var logoimage = "{% static 'images/logo1.png' %}"; // Replace with the actual URL of your image
    var imageUrl = "{% static 'images/legend1.png' %}"; // Replace with the actual URL of your image
  </script>
           -->
              <!-- jquery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
                  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
 <!--leaflet-->
 <script src="{% static 'assets/js/libs/leaflet/leaflet.js' %}"></script>
 <!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 <!--Zoombar-->
<script  src="{% static 'assets/js/libs/L.Control.ZoomBar-master/src/L.Control.ZoomBar.js' %}"></script>
<script src="{% static 'assets/js/libs/Leaflet.zoomslider-master/src/L.Control.Zoomslider.js' %}"></script>
 <!--Mouse-position-->        
<script src="{% static 'assets/js/libs/Leaflet.MousePosition-master/src/L.Control.MousePosition.js' %}"></script>
 <!--line measurement-->        
<script src="{% static 'assets/js/libs/polyline-measure/line-measure.js' %}"></script>
 <!--meausrent-->        
<script src="{% static 'assets/js/libs/leaflet-measure-master/leaflet-measure.js' %}"></script>
<script src="{% static 'assets/js/libs/feat.js' %}"></script>
 <!--draw-control-->        
<script src="{% static 'assets/js/libs/leaflet-draw-control/leaflet-draw-control.js' %}"></script>
 <!--legend-->        
<script src="{% static 'assets/js/libs/leaflet-wms-legend/leaflet.wmslegend.js' %}"></script>
 <!--html2pdf-->        
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
   integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <!--leaflet-image-->        
<script src="{% static 'assets/js/libs/leaflet-image.js' %}"></script>
 <!--Leaflet Omnivore KML plugin -->       
<script src="https://unpkg.com/leaflet-omnivore/leaflet-omnivore.min.js"></script>
 <!--sweetalert-->        
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>

<script>
       $(function() {
                // Initialize autocomplete widget

                $("#search-input").autocomplete({
                source: "/autocomplete/",
                });
                });
</script>

<script src="{% static 'assets/js/map.js' %}"></script>

                 
